.discover-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-grow: 1;
}

.show-users {
    height: auto !important;
}
.discover-background {
    background-image: linear-gradient(to top, #261c1c, #2c2223);
}

.discover-logo {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.discover-container h1 {
    color: #FFF7D4;
    font-size: 35px;
}

.discover-container h3 {
    color: #FFF7D4;
    font-size: 24px;
}

.discover-container h4 {
    color: #FFF7D4;
    font-size: 18px;
    margin-top: 20px;
}

.discover-card h1 {
    color: #FFD95A;
    font-size: 32px;
}

.discover-card h4 {
    color: #FFF7D4;
    font-size: 15px;
    margin-top: -0.5px;
    margin-right: 6px;
    margin-left: 6px;
}


.discover-search {
    border-radius: 50px !important;
    width: 50%;
    margin-top: 20px;
    background-image: url(https://cdn.discordapp.com/attachments/798251319847813200/1121202158348546168/BrowserPreview_tmp.png);
    background-size: 4% auto;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    text-indent: 22px;
}

.discover-search-user {
    padding: 5px;
    border-radius: 50px !important;
    width: 25%;
    background-color: #C07F00;
    color: #ffffff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.discover-search-user:hover {
    background-color: #A46C00;
}

.discover-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    width: 25%;
}

.discover-seperator h3 {
    padding: 0 10px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    background: #2c2223;
    display: inline-block;
    position: relative;
    top: -22px;
    z-index: 1;
}

.filters {
    display: flex;
}

.filter-heading {
    color: #FFF7D4;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.filter-heading:hover {
    color: #C07F00;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.discover-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
}

.discover-card {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #4C3D3D;
    border-radius: 30px;
    box-shadow:inset 0px 0px 0px 5px #261c1c;
    margin-right: 15px;
    margin-bottom: 20px;
}

.discover-card-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-color: #C07F00;
    color: #FFF;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.discover-card-button:hover {
    background-color: #A46C00;
}

.discover-card-button.disabled {
    background-color: #4BB543;
    transition: all 0.3s ease;
}

.discover-card-button.disabled:hover {
    background-color: #467938;
}

.card-profile-picture {
    position: relative;
    margin: 15px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #2c2223;
    object-fit: cover;
}


@media screen and (max-width: 500px) {
    .discover-card h1,
    .discover-card h4 {
      font-size: 12px;
    }
  }


.discover-invalid {
    width: 800px;
    padding: 40px 40px;
    background-color: #4C3D3D;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 5px #2c2223;
    position: relative;
}
  
.discover-invalid h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #FFD95A;
}

.discover-invalid h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFF7D4;
}


.discover-invalid-container img {
    width: 180px;
}

.discover-invalid-link {
    text-decoration: none;
    color: #C07F00;
    transition: all 0.3s ease;
}

.discover-invalid-link:hover {
    color: #8B5700;
}

.friend-display {
    position: relative;
    width: 400px;
    height: 50px;
    background-color: #FFD95A;
    box-shadow:inset 0px 0px 0px 5px #261c1c;
    margin-right: 15px;
    margin-bottom: 20px;
}




