.discover-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.show-users {
    height: auto !important;
}
.discover-background {
    background-image: linear-gradient(to top, #261c1c, #2c2223);
}

.discover-logo {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.discover-container h1 {
    color: #FFF7D4;
    font-size: 35px;
}

.discover-container h3 {
    color: #FFF7D4;
    font-size: 24px;
}

.discover-container h4 {
    color: #FFF7D4;
    font-size: 18px;
    margin-top: 20px;
}

.discover-card h1 {
    color: #FFD95A;
    font-size: 32px;
}

.discover-card h4 {
    color: #FFF7D4;
    font-size: 16px;
    margin-top: 0px;
}


.discover-search {
    border-radius: 50px !important;
    width: 50%;
    margin-top: 20px;
    background-image: url(https://cdn.discordapp.com/attachments/798251319847813200/1121202158348546168/BrowserPreview_tmp.png);
    background-size: 4% auto;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    text-indent: 22px;
}

.discover-search-user {
    padding: 5px;
    border-radius: 50px !important;
    width: 25%;
    background-color: #C07F00;
    color: #ffffff;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.discover-search-user:hover {
    background-color: #A46C00;
}

.discover-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    width: 25%;
}

.discover-seperator h3 {
    padding: 0 10px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    background: #2c2223;
    display: inline-block;
    position: relative;
    top: -22px;
    z-index: 1;
}

.filters {
    display: flex;
}

.filter-heading {
    color: #FFF7D4;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.filter-heading:hover {
    color: #C07F00;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.discover-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center; /* Align cards to the left */
    max-width: 1400px; /* Set a maximum width to limit cards per line */
}

.discover-card {
    width: 300px;
    height: 400px;
    background-color: #4C3D3D;
    border-radius: 30px;
    box-shadow:inset 0px 0px 0px 5px #261c1c;
    margin-right: 15px;
    margin-bottom: 20px;
}


.card-profile-picture {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #2c2223;
}

@media screen and (max-width: 500px) {
    .discover-card h1,
    .discover-card h4 {
      font-size: 12px;
    }
  }




