.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(to top, #261c1c, #2c2223);
}

.hero {
    background-image: linear-gradient(to top, #261c1c, #2c2223);
    padding: 80px 0;
    text-align: center;
  }
  
.home-tagline {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
.home-tagline h1 {
    font-size: 42px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
.home-tagline p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
  }
  
.cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #C07F00;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.5s ease;
  }
  
  .cta-button:hover {
    background-color: #A46C00;
  }

  .features-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .feature-box {
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: #212529;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .feature-box img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .feature-box h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFD95A;
    margin-bottom: 10px;
  }
  
  .feature-box p {
    font-size: 18px;
    color: #FFF7D4;
    margin: 10px;
  }
  