.hero {
    background-color: #6F4E37;
    padding: 80px 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #0088cc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #006699;
  }


  .testimonials {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
  }
  
  .testimonial {
    margin-bottom: 40px;
  }
  
  .testimonial blockquote {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .testimonial cite {
    font-size: 18px;
    color: #666;
  }
  
  .featured-projects {
    background-color: #f1f1f1;
    padding: 80px 0;
  }
  
  .featured-projects h2 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .project {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .project h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 18px;
    color: #666;
  }
    








  @keyframes typing-animation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blinking-cursor {
    from {
      border-right-color: transparent;
    }
    to {
      border-right-color: #000;
    }
  }
  
  .typing-box {
    font-family: monospace;
    font-size: 18px;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    padding: 10px;
    overflow: auto;
    position: relative;
    background-color: #f7f7f7;
  }
  
  .typing-text {
    animation: typing-animation 8s steps(35, end);
    overflow: hidden;
    white-space: nowrap;
    width: 0;
  }
  
  .typing-cursor {
    position: absolute;
    top: 10px;
    right: 8px;
    height: 20px;
    width: 1px;
    background-color: #000;
    animation: blinking-cursor 0.7s infinite;
  }
  
  .python-line {
    color: #000;
    padding-left: 10px;
  }
  
  .python-keyword {
    color: #0074d9;
  }
  
  .python-string {
    color: #ff4136;
  }
  
  .python-comment {
    color: #aaa;
  }
  
  .python-operator {
    color: #555;
  }
  