.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to top, #261c1c, #2c2223);
    margin-top: -40px; /* Adjust the value as needed */
}

.slide-in {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
  
  .slide-out {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
  
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@keyframes slideOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
.profile-card {
    width: 500px;
    height: 316px;
    padding: 40px 40px;
    background-color: #4C3D3D;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 5px #2c2223;
}
  
.text-fields {
    width: 420px;
    height: 110px;
}
  
.profile-container h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFF7D4;
}

.profile-card h2 {
    font-size: 32px;
    color: #FFF7D4;
}

.profile-card h3 {
    font-size: 20px;
    color: #FFF7D4;
    margin-bottom: 18px;
}

.light-yellow {
    color: #FFD95A;
}

.profile-container img {
    width: auto;
}

.profile-card input[type="text"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -32px;
}

#birthdayMonth {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 30%;
    margin-top: -32px;
    margin-right: 20px;
    background-color: #EFE1B3;
    height: 36px;
}

#birthdayDay {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 30%;
    margin-top: -32px;
    margin-right: 20px;
    background-color: #EFE1B3;
}

#birthdayYear {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 30%;
    margin-top: -32px;
    background-color: #EFE1B3;
}

#grade {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 30%;
    margin-top: -32px;
    background-color: #EFE1B3;
}

#gender {
    display:flex;
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 100%;
    height: 36px;
    margin-top: -10px; 
    margin-bottom: 10px;
    background-color: #EFE1B3;
}

#university {
    display:flex;
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 100%;
    margin-top: -30px; 
    margin-bottom: 10px;
    background-color: #EFE1B3;
}

#university::placeholder {
    color: #5E4F4F;
}

datalist#university-list option {
    color: #5E4F4F;
}

#p-languages {
    display:flex;
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 100%;
    margin-top: -10px; 
    margin-bottom: 10px;
    background-color: #EFE1B3;
}

#p-languages::placeholder {
    color: #5E4F4F;
}

#p-interests {
    display:flex;
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 100%;
    margin-top: auto; 
    margin-bottom: 10px;
    background-color: #EFE1B3;
}

#p-interests::placeholder {
    color: #5E4F4F;
}

#skillLevel {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    width: 50%;
    margin-top: -32px;
    background-color: #EFE1B3;
}

select:focus,
select:active {
  outline: none;
}

select:focus,
select:active {
  outline: none;
}

select {
    color:#4C3D3D;
}

input[type="number"]:focus {
  outline: none;
}

.button-container button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #C07F00;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: -10px;
    width: 82px !important;
}

/* buttons */

.button-container {
    display: flex;
}

.button-container-last {
    display: flex;
    margin-top: 200px;
}


.first-screen-button {
    width: 420px;
    height: 30px;
}

.first-next {
    display: flex;
    margin-left: auto !important;
}

.button-container .profile-next{
    margin-left: -20%;
    display: flex;
    justify-content: center;
}

.button-container .profile-previous{
    margin-right: 80%;
    display: flex;
    justify-content: center;
}

.profile-next:hover {
    background-color: #A46C00;
}

.profile-previous:hover {
    background-color: #A46C00;
}

.input-boxes {
    margin-left: auto;
    margin-bottom: 10px;
  }
  
.input-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border: 2.5px solid #5E4F4F;
    border-radius: 8px;
    background-color: #EFE1B3;
    color: #C07F00;
    margin-right: 4px;
}


.remove-button {
    background-color: transparent;
    border: none;
    color: #A46C00;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    margin-top: -15px;
}
  


.profile-completed-card {
    display: flex;
    width: 75%;
    height: 85%;
    padding: 5px;
    background-color: #4C3D3D;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 5px #2c2223;
  }
  
  .button-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; /* Align buttons to start */
    border-right: 1px solid white; /* Add a right border */
  }
  
.button-column button {
    padding: 15px 40px;
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    border: none;
    color: #FFF7D4;
}

.button-column button:hover {
    color: #FFED9A;
}

.button-column button.active {
    color: #FFD95A;
  }
  
.content {
    flex: 1;
    display: flex;
    justify-content: center;
}
  
.content-display {
    font-size: 24px;
}

.settings-picture-container {
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #2c2223;
    cursor: pointer;
    overflow: hidden;
  }
  
  .settings-profile-picture {
    position: relative;
    margin: 15px auto;
    width: 175px !important;
    height: 175px;
    border-radius: 50%;
    border: 4px solid #2c2223;
  }

.account-inputs {
    float: left;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.account-inputs label {
    align-self: flex-start;
    color: #FFF7D4;
    font-size: 16px;
    margin-left: 5px;
}

.account-inputs input,
.account-inputs label,
.account-inputs select {
  display: block;
}

.account-inputs input[type="text"] {
    padding: 5px;
    width: 270px;
}

.account-inputs input[type="password"] {
    padding: 5px;
    width: 270px;
}

.account-inputs select {
    padding: 5px;
}

#settingsBirthdayMonth {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    background-color: #EFE1B3;
    height: 36px;
    width: 200px;
}

#settingsBirthdayDay {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    background-color: #EFE1B3;
    height: 36px;
    width: 60px;
}

#settingsBirthdayYear {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    background-color: #EFE1B3;
    height: 36px;
    width: 75px;
}

#settingsGender {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    background-color: #EFE1B3;
    height: 36px;
    width: 100px;
}

#settingsUniversity {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #EFE1B3;
    width: 375px;
}

#settingsLanguages {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #EFE1B3;
    width: 495px;
}

#settingsInterests {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #EFE1B3;
    width: 495px;
}

#settingsSkillLevel {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    background-color: #EFE1B3;
    height: 36px;
    width: 200px;
}

.settings-university-label {
    margin-top: 15px;
}

.settings-university-grade {
    margin-top: 15px;
}

.settings-languages-label {
    margin-top: 0px;
}


#settingsGrade {
    padding: 5px;
    border-radius: 8px;
    border: 2.5px solid #5E4F4F;
    font-size: 14px;
    background-color: #EFE1B3;
    margin-bottom: 10px;
    height: 36px;
}




.settings-button-container button {
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    margin-top: 100px;
    margin-right: 10px;
}

.settings-save {
    background-color: #C07F00;
    transition: background-color 0.3s ease;
}

.settings-cancel {
    background-color: #333333;
    transition: background-color 0.3s ease;
}

.settings-save:hover {
    background-color: #A46C00;
}

.settings-cancel:hover {
    background-color: #999999;
}

.security-info ul {
    font-size: 16px; /* Adjust the font size as per your preference */
    color: white
  }
  
.security-info li {
    margin-bottom: 8px; /* Add spacing between each list item */
}




.settings-password-button-container button {
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
}

.settings-change-pass {
    background-color: #C07F00;
    transition: background-color 0.3s ease;
}

.settings-cancel {
    background-color: #333333;
    transition: background-color 0.3s ease;
}

.settings-change-pass:hover {
    background-color: #A46C00;
}

.settings-cancel:hover {
    background-color: #999999;
}

.settings-pass-error {
    font-size: 16px;
    color: red;
    margin-bottom: 0px;
}

.settings-first-error {
    font-size: 16px;
    color: red;
    margin-bottom: -20px;
}


.settings-information-button-container button {
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 20px;
}


.settings-change-information {
    background-color: #C07F00;
    transition: background-color 0.3s ease;
}

.settings-cancel {
    background-color: #333333;
    transition: background-color 0.3s ease;
}

.settings-change-information:hover {
    background-color: #A46C00;
}

.settings-cancel:hover {
    background-color: #999999;
}


.settings-input-boxes {
    margin-top: -5px;
    margin-bottom: 0px;
  }
  
.settings-input-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: 2.5px solid #5E4F4F;
    border-radius: 8px;
    background-color: #EFE1B3;
    color: #C07F00;
    margin-right: 4px;
    font-size: 18px;
}


.settings-remove-button {
    background-color: transparent;
    border: none;
    color: #A46C00;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    margin-top: -15px;
}
