/* body {
    background-image: url("https://transparenttextures.com/patterns/always-grey.png");
} */

* {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2000px;
}

.footer-links {
    text-decoration: none;
    color: inherit;
    margin-left: 5px;
    display: inline-block;
  }

.footer-links:hover {
    color: #FFD95A;
    text-decoration: underline;
}

.nav {
    --bs-nav-link-hover-color: #FFD95A;
    --bs-nav-link-color: #FFD95A;
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #FFD95A !important;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}

.login-form {
    width: 340px;
    margin: 30px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.login-form .hint-text {
    color: #777;
    padding-bottom: 15px;
    text-align: center;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.login-btn {        
    font-size: 15px;
    font-weight: bold;
}
.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}
.social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left; 
    line-height: 24px;       
}
.social-btn .btn i {
    float: left;
    margin: 4px 15px  0 5px;
    min-width: 15px;
}
.input-group-addon .fa{
    font-size: 18px;
}









.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #261c1c, #2c2223);
}
  
  .login-card {
    width: 500px;
    padding: 40px 40px;
    background-color: #4C3D3D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow:inset 0px 0px 0px 5px #261c1c;
    position: relative;
  }

  .login-card::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    z-index: -1;
  }
  
  .login-container h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFF7D4;
  }

  .login-container h3 {
    font-size: 24px;
    text-align: center;
    color: #FFF7D4;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }

input {
  padding: 5px;
  border-radius: 4px;
  border: 2.5px solid #ccc;
  font-size: 14px;
}

input::placeholder {
    color: #4C3D3D;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-color: #5E4F4F;
    border-radius: 11px;
    background-color: #EFE1B3;
  }

  input[type="password"] {
    margin-bottom: 10px;
  }


  input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: none;
  outline: none;
}

input[type=number], input[type="text"] {
  color: #4C3D3D;
}
  
  .login-btn-1 {
    padding: 10px;
    background-color: #C07F00;
    color: #ffffff;
    border: none;
    border-radius: 11px;
    cursor: pointer;
  }
  
  .login-btn-1:hover {
    background-color: #A46C00;
  }

  .login-form p {
    color: red;
  }
  
  .signup-link {
    font-size: 14px;
    text-align: center;
    color: #FFF7D4;
    margin-top: 20px;
  }

  .forgot-link {
    font-size: 14px;
    text-align: center;
    color: #FFF7D4;
    margin-bottom: 10px;
  }

  a:hover {
    color: #EFE1B3;
  }

  .signup-link a {
    color: #FFD95A;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }

  .yellow {
    color: #FFD95A
  }
  
  .btn.btn-block.btn-social {
    border-radius: 11px !important;
    width: 340px !important;
    text-align: center !important;
    font-size: 18px !important;
    padding-bottom: 10px !important;
  }

  .btn-social {
    padding-left: 0px !important;
  }

  .btn-social>:first-child {
    border-right: 0px !important;
    line-height: 42px !important;
  }

  .social-media-button {
    padding-bottom: 10px !important;
  }

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator h3 {
    padding: 0 10px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    background: #4C3D3D;
    display: inline-block;
    position: relative;
    top: -22px;
    z-index: 1;
}

  .reg-logo {
    height: 200px;
    width: auto;
    padding-right: 30px;
  }

  .reg-error {
    margin-top: -32px;
  }

  .reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #261c1c, #2c2223);
    padding: 18px;
  }
  
  .reg-card {
    width: 500px;
    padding: 40px 40px;
    background-color: #4C3D3D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow:inset 0px 0px 0px 5px #261c1c;
    position: relative;
  }

  .reg-card::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    z-index: -1;
  }
  
  .reg-container h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFF7D4;
  }

  .reg-container h3 {
    font-size: 24px;
    text-align: center;
    color: #FFF7D4;
  }
  
  .reg-form {
    display: flex;
    flex-direction: column;
  }

  .reg-sign-up {
    margin-top: 10px;
    padding: 10px;
    background-color: #C07F00;
    color: #ffffff;
    border: none;
    border-radius: 11px;
    cursor: pointer;
  }

  .reg-sign-up:hover {
    background-color: #A46C00;
  }
  
  .reg-container button:hover {
    background-color: #A46C00;
  }

  .privacy-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(to top, #261c1c, #2c2223);
  }
  
  .privacy-content {
    max-width: 600px;
    text-align: left !important;
  }

  .privacy-line {
    width: 100%;
    border: 0.2px solid #fff; /* Adjust the color and style as needed */
    margin: 5px 0;
  }


  .privacy-container img {
    max-width: 100px;
  }
  
  .privacy-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFF7D4;
  }

  .bold {
    font-weight: bold;
  }
  
  .privacy-content h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF7D4;
  }
  
  .privacy-content p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #FFF7D4;
  }
  
  .privacy-content ul {
    margin-bottom: 10px;
    padding-left: 20px;
    color: #FFF7D4;
  }
  
  .privacy-content li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #EAE0C1;
  }
  





  .not-found-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(to top, #261c1c, #2c2223);
    height: 100vh;
  }
  
  .not-found-content {
    max-width: 600px;
    text-align: left !important;
  }

  .not-found-container img {
    max-width: 100px;
  }
  
  .not-found-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFD95A;
  }

  
  
input[type="file"] {
    display: none;
}

.test-picture img {
    width: 200px;
}
  
.custom-file-upload {
    margin: auto;
    border: 1px solid #ccc;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}
  
.custom-file-upload > img{
    width: 50px;
    height: 50px;
}

.profile-picture-container {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #2c2223;
  cursor: pointer;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.create-profile-picture {
  display: block;
  width: 100% !important;
  height: 100%;
  object-fit: cover; /* Ensure the image fills the container */
}

.create-profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fills the container */
}

/* FORGOT PASSWORD CSS */

.forgot-pass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #261c1c, #2c2223);
}

.forgot-pass-container h1
{
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  color: #FFF7D4;
}

.forgot-pass-card {
  width: 500px;
  padding: 40px 40px;
  background-color: #4C3D3D;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 5px #261c1c;
  position: relative;
}

.forgot-pass-card p {
  color: #FFF7D4;
  margin-top: -10px;
}

.forgot-pass-card label {
  display: block;
  color: #FFF7D4;
  margin-bottom: 5px;
  padding: 10px;
}

.forgot-pass-card input {
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2.5px solid #ccc;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.forgot-pass-card button {
  padding: 10px;
  background-color: #C07F00;
  color: #ffffff;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  width: 100%;
}

.forgot-pass-card button:hover {
  background-color: #A46C00;
}

.forgot-pass-error {
  margin-top: 20px!important;
}

/** Success **/
.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to top, #261c1c, #2c2223);
  color: #FFF7D4;
}

.success-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.success-page p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.success-page a {
  color: #FFD95A;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.success-page a:hover {
  color: #EFE1B3;
}

/** Home **/

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel-container img {
  filter: brightness(20%);
  max-width: 100%;
  object-fit: cover;
}

.carousel-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFF7D4;
}

.carousel-container p {
  color: #FFF7D4;
}

.carousel-caption {
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 5px;
  transform: translate(-50%, -50%); 
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, #261c1c, #2c2223);
}

.email-container img {
  top: 75px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}